# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Compiled class files
*.class

# Logs
*.log

# Build and output directories
/build/
/out/
/target/
/appium/
/.idea/

# Allure Results
target/allure-results/
.allure/


# Screenshots and reports
/screenshots/
/extent-test-output/

# OS-specific files
.DS_Store
Thumbs.db

# Swap files
*.swp

# Git should track this file
!.gitignore
