<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Parallel Cucumber Suite" parallel="tests" thread-count="2">
	<test name="RolesCopyModal">
		<parameter name="cucumberTags" value="@RolesCopyModal"/>
		<classes>
			<class name="com.tonic.runners.TestRunner"/>
		</classes>
	</test>
	<test name="TONIC6653">
		<parameter name="cucumberTags" value="@TONIC6653"/>
		<classes>
			<class name="com.tonic.runners.TestRunner"/>
		</classes>
	</test>
</suite>
